/* CSS by ANgela Ruedas */

/* Color Palette
brick red= #B72818
blush pink= #FFEBE8
mustard yellow= #E6AF00
tiffany blue= #D7F7E1
web blue= #1D3ECF
*/

/* GLOBAL (base) MOBILE FIRST */
body {
    background-color: #FFEBE8;
    font-family: ;
    font-size: ;
    color:
    margin: 0;
    display:grid;
}

header {

}

header p {

}

nav {

}

nav ul {

}

nav a {

}

nav a:hover {

}

.card-row {

}

.card-row section {

}

img {

}

main {

}

h1 {

}

h2 {

}

p {

}

aside {
    
}

footer {

}

/* MEDIA QUERY (MEDIUM ======) */
@media screen and (min-width:800px) {

}