/* CSS by Angela Ruedas */

/* Color Palette
grass green= #55BF0A
pale green= #CEFFB4
pale blue= #D9F0F6
steel blue= #B4E0FF
ripe orange= #F97116
pale orange= #FFC081
*/

/* GLOBAL (base) MOBILE FIRST */
body {
    background-color: #D9F0F6;
    margin: 0;
    display: grid;
}

.project-card-container {
    display: flex;
    justify-content: space-evenly;
}

.project-card {
    flex: 1 1 0%;
    margin: 20px;
    padding: 15px;
    border: 2px solid #55BF0A;
    border-radius: 10px;
}

.contact-list a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
}

header p {
    display: flex;
    justify-content: center;
}

nav {
    margin: 1rem;
    padding: 1rem;
    border: 3px solid #55BF0A;
    background-color: #D9F0F6;
}

nav ul {
    display:flex;
    justify-content:space-evenly;
    list-style:none;
    align-items:center;
}

nav li {
    display: flex;
    padding: 1rem 1rem;
    margin: 1rem;
    justify-content: center;
}

nav a {
    text-decoration:none;
    color: black;
    font-size:1.5 en;
    text-transform:uppercase;
    text-align: center;
}

nav a:hover {
    color:#F97116;
}

.card-row {
    display:flex;
    gap:1rem;
    flex-wrap:wrap;
    background-color:#FFEBA0;
    padding:1rem;
}

.card-row > section {
    flex: 1 1 260px;
    background-color:#FFEBA0;
    padding:.5rem;
}

main {
    margin: .5rem;
    padding: .5rem;
    border: 1px black;
    background-color: #D9F0F6;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    text-shadow: 1px 1px 1px gray;
}

p {
    line-height: 1.5;
    letter-spacing: 1px;
    word-spacing: 1px;
}

aside {
    background-color: #FFEBA0;
    color: #CEFFB4;
    padding: 1rem;
    padding: 1rem;
}

header, footer {
  margin: .5rem;
  padding: .5rem;
  border: .5pc solid #55BF0A;
  background: #D9F0F6;
}

footer {
    background-color: #D9F0F6;
    text-align: center;
    padding: 1rem;
    margin-top: 1rem;
}

/* MEDIA QUERY (MEDIUM ======) */
@media screen and (min-width:800px) {
    body {
        background-color:#B4E0FF;
    }

    nav ul {
        display:flex;
        justify-content:space-evenly;
        list-style:none;
        align-items:center;
    }

.card-row {
        display:flex;
        gap:1rem;
        flex-wrap:wrap;
        background-color:#FFC081;
        padding:1rem;
    }

.card-row > section {
        flex: 1 1 260px;
        background-color:#FFC081;
        padding:.5rem;
    }

}